@font-face {
  font-family: Edit Undo BRK;
  src: url(assets/editundo.ttf);
}

@font-face {
  font-family: Technomite;
  src: url(assets/technomite.ttf);
}

body {
  margin: 0;
  text-align: center;
  background-image: url('assets/background.png');
  background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  font-family: Edit Undo BRK;
  color: #ec3eb9;
}

.logo {
  max-width: 500px;
  position: fixed;
  margin: 5% auto;
  left: 0;
  right: 0;
}

a {
  outline: 0;
  color: #5dd4ec;
  text-decoration: none;
  font-weight: normal;
}

a.button,
p.credits {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 2em;
  position: fixed;
  top: 78%;
  margin: 5% auto;
  left: 0;
  right: 0;
}

p.credits {
  font-size: 1em;
  top: 85%;
}

a:hover {
  color: #ec3eb9;
}

.name-container {
  color: #ED2121;
  font-size: 1.5em;
  font-family: Technomite;
  text-transform: uppercase;
  text-shadow: -2px 2px 0px #000;
  letter-spacing: 0.15em;
  line-height: 1.5;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.name {
  margin: 0 auto;
  max-width: 26%;
}

@media screen and (max-width: 500px) {
  .name {
    max-width: 70%;
    font-size: 85%;
  }
  .logo {
    max-width: 90%;
  }
}